h1{
    color:whitesmoke;
    text-align: center;
    background-color: black;
}
h2{
    color:blue;
    text-align: center;
    background-color: greenyellow;
}
h3{
     color: red;
    
}

h4{
    color: blue;
     text-align: center;
    background-color: greenyellow;
}
p{
    color: coral;
}
    
    




body{
    background-image:url("../images/02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
    }